/* fonts section */

@font-face {
  font-family: 'Poppins';
  font-style: extra-light;
  font-weight: 200;
  src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'), url(https://fonts.gstatic.com/s/poppins/v5/NOrqPfvJuwgpHxybBhW7Lfk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/HLBysyo0MQBO_7E-DWLwzg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Poppins';
  font-style: medium;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v5/yQWaOD4iNU5NTY0apN-qj_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Poppins';
  font-style: bold;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/57TQ-anwthzkETEIO4jESPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v9/cSNs3NwpEgPVRQzvkh3NeQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Nunito';
  font-style: bold;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v9/TttUCfJ272GBgSKaOaD7KltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* general section */

html {
  color: hsl(0, 0%, 35%);
  font-size: 16px;
  line-height: 1.4;
}

.container {
  max-width: 100%;
  margin: auto;
}

div {
  display: block;
}

/* top navigation logo section */

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.desktop nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
}

.desktop nav div {
  display: flex;
}

.desktop nav img {
  margin-left: 1.5rem;
}

.desktop.company {
  display: flex;
}

.desktop .company span {
  padding: 1rem 0 1rem 0;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.desktop .colmar-part {
  font-style: normal;
  color: black;
  font-size: 1.5rem;
}

.desktop .academy-part {
  color: hsl(240, 85%, 85%);
  font-weight: 400;
  font-size: 1.5rem;
}

.desktop .academy-part:hover {
  color: rgb(169, 169, 169);
}

.desktop .academy-part {
  transition: color 750ms linear 20ms;
}

/* top navigation links section */

.desktop .menu-mobile {
  display: none;
}

.desktop .menu-desktop {
  display: flex;
  margin-right: 1.5rem;
  justify-content: flex-end;
}

.desktop ul {
  display: block;
}

.desktop nav ul {
  margin-right: 1.5rem;
}

.desktop nav li {
  display: inline;
}

.desktop nav a {
  font-family: "Nunito", sans-serif;
  color: hsl(0, 0%, 35%);
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1rem;
}

.desktop nav a:hover {
  color: hsl(240, 85%, 85%);
}

.desktop nav a {
  transition: color 300ms linear 20ms;
}

/* header section */

.header-content {
  padding-top: 4rem;
  background-color: hsla(240, 20%, 85%, 0.5);
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner {
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
}

.banner img {
  display: flex;
  width: 100%;
  height: auto;
}

.header-info {
  display: flex;
  flex-direction: column;
}

.info {
  width: 85%;
  height: auto;
  line-height: 1.4;
}

.info h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  width: 22rem;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.info h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: medium;
  width: 22rem;
}

.startbutton {
  width: 20rem;
  text-align: center;
  background-color: hsl(0, 0%, 35%);
  padding: 0.5rem;
  border: 1px solid white;
  margin-top: 1.5rem;
}

.startbutton:hover {
  background-color: hsl(240, 85%, 85%);
}

a .startbutton {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
}

.startbutton:visited a {
  color: hsl(240, 85%, 85%);
}

.startbutton {
  transition: background-color 1.2s linear 20ms;
}

/* information section */

.information-mobile {
  display: none;
}

.information-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* information section left*/

.information-main {
  width: 60%;
  height: auto;
  padding: 0 1.5rem;
  border-right: 1px solid darkgrey;
  font-family: "Poppins", sans-serif;
  color: hsl(0, 0%, 35%);
}

.information-main img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.information-main h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.information-main p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  padding-top: 1.5rem;
  line-height: 1.2;
}

.information-main h5 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  padding: 2rem 0;
}

/* information section right */

.information-blox-desktop {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
}

.information-blox-desktop img {
  width: 35%;
  height: auto;
}

.information1 {
  display: flex;
  align-items: center;
  border-right: 1px solid darkgrey;
  border-bottom: double darkgrey;
  padding: 2rem 1rem 1rem 1rem;
}

.information2 {
  display: flex;
  align-items: center;
  border-right: 1px solid darkgrey;
  padding: 1rem;
}

.information3 {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: hsla(240, 20%, 85%, 0.5);
}

.information-text {
  font-family: "Poppins", sans-serif;
  padding-left: 1rem;
  color: hsl(0, 0%, 35%);
}

.information-text h4 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.information-text p {
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 1rem;
  line-height: 1.2;
}

.information-text a {
  color: hsl(240, 85%, 85%);
  font-weight: bold;
}

/* Learning section*/

.learn-boxes-mobile {
  display: none;
}

#learning {
  background-color: hsla(240, 20%, 85%, 0.5);
  font-family: "Poppins", sans-serif;
}

#learning .learning-desktop {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.learning-desktop h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.learn-boxes-desktop {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.learn-box {
  width: 28%;
  background-color: hsl(240, 1%, 40%);
  margin: 0 1rem 2rem 1rem;
  color: hsl(240, 3%, 13%);
}

.learn-box:hover {
  background-color: hsl(240, 1%, 20%);
  color: hsl(0, 0%, 100%);
}

.learn-box {
  transition: background-color 50ms linear 40ms;
}

.learn-box img {
  display: flex;
  max-width: 100%;
  height: auto;
}

a .learn-box {
  color: hsl(0, 0%, 100%);
}

.learn-box h4 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.learn-box h5 {
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  font-weight: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.learn-box p {
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  font-weight: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

/* Exhibit section*/

#exhibit {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

#exhibit h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.exhibit-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.exhibit-content {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.exhibit {
  height: auto;
  margin: 0 1.5rem;
}

.exhibit video {
  display: flex;
  width: 100%;
  height: auto;
}

.exhibit-info {
  width: 90%;
  padding: 1rem 1rem 0 1rem;
}

.exhibit-info h4 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0 1rem 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.exhibit-info p {
  font-size: 1rem;
  font-weight: normal;
  padding: 0 0 1rem 1rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.exhibit-blox-desktop {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
}

.exhibit1 {
  display: flex;
  align-items: center;
  background-color: hsla(240, 20%, 85%, 0.5);
  color: hsl(240, 3%, 38%);
}

.exhibit1:hover {
  background-color: hsl(240, 3%, 38%);
  color: hsl(0, 0%, 100%);
}

.exhibit1 img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.exhibit2 {
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  color: hsl(240, 3%, 38%);
}

.exhibit2:hover {
  background-color: hsl(240, 3%, 38%);
  color: hsl(0, 0%, 100%);
}

.exhibit2 img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.exhibit-text {
  display: block;
  max-width: 65%;
}

.exhibit-text h4 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.exhibit-text p {
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 1rem;
  line-height: 1.2;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid darkgrey;
  height: 5rem;
  font-family: "Nunito", sans-serif;
  background-color: hsla(240, 20%, 85%, 0.5);
  color: hsl(240, 3%, 38%);
  font-size: 0.90rem;
  font-weight: normal;
}

footer span {
  padding-left: 1.5rem;
  margin-top: 1rem;
}

footer ul {
  padding-right: 1.5rem;
  margin-top: 1rem;
}

footer li {
  display: inline;
}

footer a {
  padding-left: 1rem;
  font-family: "Nunito", sans-serif;
  color: hsl(240, 3%, 38%);
  font-size: 0.90rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  html {
    color: hsl(0, 0%, 35%);
    font-size: 14px;
    line-height: 1.2;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    margin-top: 0;
    background-color: hsla(240, 20%, 85%, 0.5);
  }
  .mobile nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.5714rem;
    background-color: #ffffff;
    position: fixed;
  }
  .mobile nav img {
    padding-left: 1.1429rem;
    padding-right: 1.1429rem;
  }
  header .mobile {
    width: 100%;
    height: auto;
  }
  .mobile-banner {
    width: 100%;
    height: auto;
  }
  .mobile-banner img {
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 4.5714rem;
  }
  .mobile-header-info {
    display: flex;
    flex-direction: column;
  }
  .mobile-info {
    width: 85%;
    height: auto;
    line-height: 1.2;
    margin-top: 2rem;
  }
  .mobile-info h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.2857rem;
    font-weight: bold;
    padding-top: 2.2857rem;
    padding-left: 1.1429rem;
    padding-bottom: 2.2857rem;
  }
  .mobile-info h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: medium;
    padding-left: 1.1429rem;
    padding-bottom: 1.7142rem;
  }
  .mobile-startbutton {
    width: 20rem;
    text-align: center;
    background-color: hsl(0, 0%, 35%);
    padding: 0.5rem;
    border: 1px solid white;
    margin-left: 1.1429rem;
    padding-right: 1.1429rem;
    margin-bottom: 2.2857rem;
  }
  .mobile-startbutton:hover {
    background-color: hsl(240, 85%, 85%);
  }
  .mobile-startbutton a {
    font-family: "Nunito", sans-serif;
    color: #ffffff;
  }
  .mobile-startbutton:visited a {
    font-family: "Nunito", sans-serif;
    color: hsl(240, 85%, 85%);
  }
  .mobile-startbutton {
    transition: background-color 750ms linear 20ms;
  }
  .information-desktop {
    display: none;
  }
  .information-mobile {
    display: block;
    width: 100%;
    height: auto;
    background-color: #ffffff;
  }
  .information-mobile img {
    width: 100%;
    height: auto;
    padding-top: 1.1429rem;
  }
  .mobile-information {
    padding: 1.1429rem;
  }
  .mobile-information-text {
    font-family: "Poppins", sans-serif;
    color: hsl(0, 0%, 35%);
  }
  .mobile-information-text h4 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.1429rem;
  }
  .mobile-information-text p {
    font-size: 1rem;
    font-weight: normal;
    padding: 0 0 1.1429rem 1.1429rem;
    line-height: 1.2;
  }
  .mobile-information-text a {
    color: hsl(240, 85%, 85%);
    font-weight: bold;
    padding-left: 1.1429rem;
    padding-bottom: 4.5714rem;
  }
  .learn-boxes-desktop {
    display: none;
  }
  .learn-boxes-mobile {
    display: block;
    margin: 1.1429rem;
  }
  .learning-subject {
    display: block;
    width: 100%;
    height: 3.8571rem;
    background-color: hsl(0, 0%, 35%);
    padding: 1.7142rem 1.1429rem 1.7142rem 1.1429rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: hsl(240, 85%, 85%);
    margin-bottom: 0.57rem;
  }
  .learning-subject:hover {
    color: white;
  }
  .learning-subject {
    transition: color 1s linear 20ms;
  }
  .exhibit-container {
    display: block;
  }
  .exhibit-info {
    display: none;
  }
  .exhibit-blox-desktop {
    display: none;
  }
  .exhibit-content {
    display: block;
    width: 100%;
  }
  .exhibit {
    height: auto;
    margin: 0;
  }
  .exhibit video {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 2.2857rem;
  }
  footer ul {
    display: none;
  }
}
