/* general section */

html {
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

.container {
  max-width: 100%;
  margin: auto;
}

div {
  display: block;
}

/* top navigation logo section */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  width: 100%;
}

nav div {
  display: flex;
}

nav img {
  margin-left: 1.5rem;
}

.company span {
  padding: 1rem 0 1rem 0;
}

.colmar-part {
  color: black;
  font-weight: 400;
  font-size: 1.5rem;
}

.academy-part {
  color: grey;
  font-weight: 400;
  font-size: 1.5rem;
}

/* top navigation links section */

ul {
  display: block;
}

nav ul {
  margin-right: 1.5rem;
}

nav li {
  display: inline;
}

nav a {
  color: grey;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1rem;
}

.menu-desktop {
  display: flex;
  margin-right: 1.5rem;
  justify-content: flex-end;
}

/* header section */

.header-content {
  padding-top: 4rem;
  background-color: darkgrey;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner {
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
}

.banner img {
  display: flex;
  width: 100%;
  height: auto;
}

.header-info {
  display: flex;
  flex-direction: column;
}

.info {
  width: 85%;
  height: auto;
}

.info h1 {
  width: 22rem;
  margin-bottom: 1.5rem;
}

.info h3 {
  width: 22rem;
}

.startbutton {
  width: 22rem;
  text-align: center;
  background-color: grey;
  padding: 0.5rem;
  border: 1px solid white;
  margin-top: 1.5rem;
}

.startbutton a {
  color: White;
}

/* information section */

.information-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* information section left*/

.information-main {
  width: 60%;
  height: auto;
  padding: 0 1.5rem;
  border-right: 1px solid darkgrey;
}

.information-main img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.information-main h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
}

.information-main p {
  font-size: 1.25rem;
  font-style: normal;
  padding-top: 1.5rem;
}

.information-main h5 {
  font-size: 1rem;
  font-style: normal;
  padding: 2rem 0;
}

/* information section right (fun part)*/

.information-blox-desktop {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
}

.information-blox-desktop img {
  width: 35%;
  height: auto;
}

.information1 {
  display: flex;
  align-items: center;
  border-right: 1px solid darkgrey;
  border-bottom: double darkgrey;
  padding: 2rem 1rem 1rem 1rem;
}

.information2 {
  display: flex;
  align-items: center;
  border-right: 1px solid darkgrey;
  padding: 1rem;
}

.information3 {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: darkgrey;
}

.information-text {
  padding-left: 1rem;
}

.information-text h4 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.information-text p {
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 1rem;
}

.information-text a {
  color: lightblue;
  font-weight: bold;
}

/* Learning section*/

#learning {
  background-color: grey;
}

#learning .learning-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.learning-container h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
  text-align: center;
}

.learn-boxes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.learn-box {
  width: 28%;
  background-color: White;
  margin: 0 1rem 2rem 1rem;
}

.learn-box img {
  display: flex;
  max-width: 100%;
  height: auto;
}

.learn-box h4 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.learn-box h5 {
  color: grey;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.learn-box p {
  color: grey;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}

/* Exhibit section*/

#exhibit {
  background-color: White;
}

#exhibit h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
  text-align: center;
}

.exhibit-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.exhibit-content {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.exhibit {
  height: auto;
  margin: 0 1.5rem;
}

.exhibit video {
  display: flex;
  width: 100%;
  height: auto;
}

.exhibit-info {
  width: 90%;
  padding: 1rem 1rem 0 1rem;
}

.exhibit-info h4 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0 1rem 1rem;
}

.exhibit-info p {
  font-size: 1rem;
  font-weight: normal;
  padding: 0 0 1rem 1rem;
  margin-bottom: 2rem;
}

.exhibit-blox-desktop {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
}

.exhibit1 {
  display: flex;
  align-items: center;
  background-color: darkgrey;
}

.exhibit1 img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.exhibit2 {
  display: flex;
  align-items: center;
  background-color: White;
}

.exhibit2 img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.exhibit-text {
  display: block;
  max-width: 65%;
}

.exhibit-text h4 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.exhibit-text p {
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid darkgrey;
  height: 5rem;
}

footer span {
  color: darkgrey;
  padding-left: 1.5rem;
  margin-top: 1rem;
}

footer ul {
  color: darkgrey;
  padding-right: 1.5rem;
  margin-top: 1rem;
}

footer li {
  display: inline;
}

footer a {
  color: darkgrey;
  font-size: 1rem;
  font-weight: normal;
  padding-left: 1rem;
}